.settings/
.project
.classpath
target/
*~
MANIFEST.MF
/www-test
/war
.gwt
.settings
target
gwt-unitCache
builds/
example/src/main/webapp/META-INF/maven/by.neosoft.iframework/example/pom.properties
example/src/main/webapp/META-INF/maven/by.neosoft.iframework/example/pom.xml