.settings/
.project
.classpath
target/
*~
MANIFEST.MF
/www-test
/war
.gwt
.settings
target
gwt-unitCache
builds/
gwtp-container/src/main/webapp/META-INF/maven/by.neosoft.iframework/project/pom.properties
gwtp-container/src/main/webapp/META-INF/maven/by.neosoft.iframework/project/pom.xml